<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neww post</title>
</head>
<body>
    <form  method="post" action="/posts">
        <input type="text" placeholder="enter your username" name="username"><br><br>
        <textarea name="content" placeholder="enter your post" id="" cols="21" rows="7"></textarea><br>
        <button>SUBMIT POST!</button>
    </form>
    
</body>
</html>