/* body{
    background-color: blue;
} */

h1{
    color: maroon;
    font-size: 40px;
}

.posts{
    background-color: rgb(229, 203, 203)
}

.user{
    font-style: italic;
    font-size: 30px;
}
.content{
    font-size: 20px;
}